body {
  font-family: "Avenir Regular", Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  line-height: 24px;

  color: #000000;
  background-color: #ffffff;
}
.container {
	margin: 0 auto;
  width: 960px;
  padding: 0 10px;
}
