// распорка для флотов и для выпадающих верхних маргинов
@mixin clearfix() {
  &::after {
    display: table;
    clear: both;

    content: "";
  }
  &::before {
    display: table;

    content: "";
  }
}
