.main {
  position: relative;

  @include clearfix;
  margin-bottom: 50px;
  padding-bottom: 78px;

  background-color: #faf8f6;
}
.main__img {
  position: absolute;
  left: 18%;
  top: 24px;

  width: 480px;
  padding-top: 23px;
  height: 780px;
  background: url('../img/guy.png') 0 42px no-repeat;
}
