.main-footer__wrapper {
  font-family: "Avenir medium";
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #b2b2b2;
}

.main-footer__tel {
  font-family: "Avenir medium";
  text-decoration: none;
  color: #2856b3;

  &:hover {
    opacity: 0.7;
    transition: ease-in-out 0.25s;
  }

  &--nolink {
    cursor: context-menu;
    color: #b2b2b2;

    &:hover {
      opacity: 1;
      transition: none;
    }
  }
}

.main-footer__copyright {
  margin-bottom: 35px;
}
