.main {
  margin-bottom: 50px;

  background-color: #faf8f6;
}

.main__img {
  position: relative;
  left: -124px;

  float: left;
  width: 490px;
  padding-top: 23px;
  padding-bottom: 19px;
  height: 780px;

  background: url('../img/guy.png') 0 70px no-repeat;
}

.main__wrapper {
  @include clearfix;
}
